.container{
    margin: 0% 35%;
}
.title{
    display: flex;
    justify-content: center;
    padding: 5%;
    font-size: 40px;
    color: var(--text);
}
.loading{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.error{
    font-size: 25px;
    font-weight: 900;
}